<section>
  <div class="new_container">
    <div class="col-md-12 meet_container">
      <div class="meet_text">
        <hr>
        <h3>MEET THE TEAM</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="side_bar">
          <div class="link-controls navs_bars">
            <ul>
              <li><%= link_to "ABOUT US", about_path(@about) %></li>
              <li><%= link_to "MEET THE TEAM", theteam_path(@theteam) %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="col-md-12">
          <div class="text_file">
            <p>Our team combines decades of experience building publicly traded technology companies, advising U.S.
              presidents, and managing international development projects.
            </p>
          </div>
        </div>
        <div id="member-grid" class="col-md-12 col-sm-12 col-xs-12">
          <div id="{{$index}}" class="col-md-2 col-sm-3 col-xs-6 member team">
            <div class="description">
              <p class='member_name'> Jeremy Johnson</p>
              <p class='member_position'> Co-Founder and CEO</p>
            </div>
            <div class="photos_divs">
              <%= image_tag "jeremy.jpg" %>
            </div>
            </div>
            <div id="{{$index}}" class="col-md-2 col-sm-3 col-xs-6 member team">
              <div class="description">
                <p class='member_name'> Christina Sass</p>

                <p class='member_position'> Co-Founder and COO</p>
              </div>
              <div class="photos_divs">
                <%= image_tag "christina.jpg" %>
              </div>
            </div>
          <div id="{{$index}}" class="col-md-2 col-sm-3 col-xs-6 member team">
            <div class="description">
              <p class='member_name'> Ian Carnevale</p>

              <p class='member_position'> Co-Founder and Director, Business Systems</p>
            </div>
            <div class="photos_divs">
              <%= image_tag "ian.jpg" %>
            </div>
          </div>
          <div id="{{$index}}" class="col-md-2 col-sm-3 col-xs-6 member team">
            <div class="description">
              <p class='member_name'> Obie Fernandez</p>

              <p class='member_position'> CTO</p>
            </div>
            <div class="photos_divs">
              <%= image_tag "obie.jpg" %>
            </div>
        </div>
        </div>
  </div>
</section>
