<!DOCTYPE html>
<html>
  <head>
    <title>Taza</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="btn-group pull-right">
          <p class="navbar-text">
            <%= link_to "About", '#', class: "btn btn-default" %>
            <%= link_to "What we do", '#', class: "btn btn-default" %>
            <%= link_to "Fellowship", '#', class: "btn btn-default" %>
            <% if current_user %>
                <strong><%= current_user.name %></strong>!
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
            <% else %>
                  <%=link_to "Sign In", "/auth/google_oauth2", id: "sign_in", class:"btn btn-default"%>
            <% end %>
            </p>
        </div>
      </div>
    </nav>
  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
  <% end -%>
  <%= yield %>
    <div class="footer-clear"></div>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <ul class="list-inline">
                <li><a href="/">Home</a></li>
                <li class="footer-menu-divider">⋅</li>
                <li><a href="/mentors">Mentors</a></li>
                <li class="footer-menu-divider">⋅</li>
                <li><a href="/fellows">Fellows</a></li>
              </ul>
            </div>
            <div class="col-md-4 text-right">
              <ul class="list-inline">
                <li><a href="">© 2014 Taza</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>
